<nav>
    <div class="site-title">
        <a href="/"><h1>Naijabase</h1></a>
        <p>netnaija blog site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">create new Blogs</a></li>
    </ul>
</nav>